flows/.requesttemplate.json.backup
[{"id":"0c0a015080cb0fb2","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"41747a17.54ffd4","type":"http request","z":"0c0a015080cb0fb2","name":"","method":"GET","ret":"txt","url":"https://jsonplaceholder.typicode.com/posts/{{post}}","tls":"","x":550,"y":480,"wires":[["d682318c.36823"]]},{"id":"d682318c.36823","type":"debug","z":"0c0a015080cb0fb2","name":"","active":true,"console":"false","complete":"payload","x":710,"y":480,"wires":[]},{"id":"90bfea22.dd2b98","type":"inject","z":"0c0a015080cb0fb2","name":"post id","repeat":"","crontab":"","once":false,"topic":"","payload":"2","payloadType":"str","x":250,"y":480,"wires":[["e67a0cc.596d4f","f7c701954bcab994"]]},{"id":"e67a0cc.596d4f","type":"change","z":"0c0a015080cb0fb2","name":"","rules":[{"t":"set","p":"post","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":480,"wires":[["41747a17.54ffd4"]]},{"id":"f7c701954bcab994","type":"debug","z":"0c0a015080cb0fb2","name":"","active":true,"console":"false","complete":"payload","x":350,"y":380,"wires":[]}]