flows/button.json
[{"id":"347510d8d1206408","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"581cbdaa4aca4344","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a1c7d1a5dde68403","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9243a84dbe9faf1e","type":"ui_group","name":"Default","tab":"581cbdaa4aca4344","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"09e2abce4f4bc8e1","type":"inject","z":"347510d8d1206408","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"","payloadType":"date","x":250,"y":380,"wires":[["c4d1c7abf807c763"]]},{"id":"6bf04d9234571e74","type":"inject","z":"347510d8d1206408","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"0","payload":"","payloadType":"date","x":250,"y":460,"wires":[["c4d1c7abf807c763"]]},{"id":"c4d1c7abf807c763","type":"debug","z":"347510d8d1206408","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":420,"wires":[]},{"id":"1ea9f703ea91b85b","type":"ui_button","z":"347510d8d1206408","name":"","group":"9243a84dbe9faf1e","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"test","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":320,"wires":[["c4d1c7abf807c763","c82c70bb145dbf5f"]]},{"id":"8baeb13bf1b54d8c","type":"http request","z":"347510d8d1206408","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":710,"y":500,"wires":[["0b36e12026fe803c"]]},{"id":"c82c70bb145dbf5f","type":"change","z":"347510d8d1206408","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"google.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":520,"wires":[["8baeb13bf1b54d8c"]]},{"id":"0b36e12026fe803c","type":"debug","z":"347510d8d1206408","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":500,"wires":[]}]